node_modules/
lib
src/Feature/Accounts/code/bin/
src/Feature/Accounts/code/obj/
src/Feature/Accounts/tests/obj/
src/Feature/Accounts/tests/bin/
src/Feature/Accounts/tds/Sitecore.Feature.Accounts.Master/bin/
src/Feature/Accounts/tds/Sitecore.Feature.Accounts.Master/obj/
src/Feature/Demo/code/bin/
src/Feature/Demo/code/obj/
src/Feature/Demo/tds/Sitecore.Feature.Demo.Master/bin/
src/Feature/Demo/tds/Sitecore.Feature.Demo.Master/obj/
src/Feature/Identity/code/bin/
src/Feature/Identity/code/obj/
src/Feature/Identity/tds/Sitecore.Feature.Identity.Master/bin/
src/Feature/Identity/tds/Sitecore.Feature.Identity.Master/obj/
src/Feature/Language/code/bin/
src/Feature/Language/code/obj/
src/Feature/Language/tests/obj/
src/Feature/Language/tests/bin/
src/Feature/Language/tds/Sitecore.Feature.Language.Master/bin/
src/Feature/Language/tds/Sitecore.Feature.Language.Master/obj/
src/Feature/Media/code/obj/
src/Feature/Media/tests/obj/
src/Feature/Media/tests/bin/
src/Feature/Media/code/bin/
src/Feature/Media/tds/Sitecore.Feature.Media.Master/bin/
src/Feature/Media/tds/Sitecore.Feature.Media.Master/obj/
src/Feature/Metadata/tests/obj/
src/Feature/Metadata/tests/bin/
src/Feature/Metadata/code/obj/
src/Feature/Metadata/code/bin/
src/Feature/Metadata/tds/Sitecore.Feature.Metadata.Master/bin/
src/Feature/Metadata/tds/Sitecore.Feature.Metadata.Master/obj/
src/Feature/Multisite/tests/obj/
src/Feature/Multisite/tests/bin/
src/Feature/Multisite/code/obj/
src/Feature/Multisite/code/bin/
src/Feature/Multisite/tds/Sitecore.Feature.Multisite.Master/bin/
src/Feature/Multisite/tds/Sitecore.Feature.Multisite.Master/obj/
src/Feature/Navigation/code/obj/
src/Feature/Navigation/code/bin/
src/Feature/Navigation/tds/Sitecore.Feature.Navigation.Master/bin/
src/Feature/Navigation/tds/Sitecore.Feature.Navigation.Master/obj/
src/Feature/News/code/bin/
src/Feature/News/code/obj/
src/Feature/News/tests/obj/
src/Feature/News/tests/bin/
src/Feature/News/tds/Sitecore.Feature.News.Master/bin/
src/Feature/PageContent/code/bin/
src/Feature/PageContent/code/obj/
src/Feature/PageContent/tds/Sitecore.Feature.PageContent.Master/bin/
src/Feature/Person/code/bin/
src/Feature/Person/code/obj/
src/Feature/Person/tests/obj/
src/Feature/Person/tests/bin/
src/Feature/Person/tds/Sitecore.Feature.Person.Master/bin/
src/Feature/Search/code/bin/
src/Feature/Search/Tests/obj/
src/Feature/Search/Tests/bin/
src/Feature/Search/code/obj/
src/Feature/Search/tds/Sitecore.Feature.Search.Master/bin/
src/Feature/Social/code/bin/
src/Feature/Social/code/obj/
src/Feature/Social/tds/Sitecore.Feature.Social.Master/bin/
src/Feature/Teasers/code/obj/
src/Feature/Teasers/tests/obj/
src/Feature/Teasers/tests/bin/
src/Feature/Teasers/code/bin/
src/Feature/Teasers/tds/Sitecore.Feature.Teasers.Master/bin/
src/Foundation/Assets/code/bin/
src/Foundation/Assets/code/obj/ 
src/Foundation/Assets/tds/Sitecore.Foundation.Assets.Master/bin/
src/Foundation/Indexing/Tests/obj/
src/Foundation/Indexing/Tests/bin/
src/Foundation/Indexing/code/bin/
src/Foundation/Indexing/code/obj/
src/Foundation/Indexing/tds/Sitecore.Foundation.Indexing.Master/bin/
src/Foundation/Installer/code/bin/
src/Foundation/Installer/code/obj/
src/Foundation/Installer/tds/Sitecore.Foundation.Installer.Master/bin/
src/Foundation/Installer/tds/Sitecore.Foundation.Installer.Master/obj/
src/Foundation/Installer/tests/obj/
src/Foundation/Installer/tests/bin/
src/Foundation/Multisite/code/bin/
src/Foundation/Multisite/tds/Sitecore.Foundation.Multisite.Master/bin/
src/Foundation/Multisite/tds/Sitecore.Foundation.Multisite.Master/obj/
src/Foundation/Multisite/code/
src/Foundation/Multisite/tests/obj/
src/Foundation/Multisite/tests/bin/
src/Foundation/SitecoreExtensions/Tests/obj/
src/Foundation/SitecoreExtensions/Tests/bin/
src/Foundation/SitecoreExtensions/code/bin/
src/Foundation/SitecoreExtensions/code/obj/
src/Foundation/SitecoreExtensions/tds/Sitecore.Foundation.SitecoreExtensions.Master/bin/
src/Foundation/Testing/tests/bin/
src/Foundation/Testing/tests/obj/
src/Foundation/Theming/code/bin/
src/Foundation/Theming/code/obj/
src/Foundation/Theming/tds/Sitecore.Foundation.Theming.Master/bin/
src/Project/Common/code/obj/
src/Project/Common/tds/Sitecore.Common.Website.Master/bin/
src/Project/Demo/code/obj/
src/Project/Demo/tds/Sitecore.Demo.Website.Master/bin/
src/Project/Habitat/code/obj/
src/Project/Habitat/tds/Sitecore.Habitat.Website.Content/obj/
src/Project/UserGroup/code/netzkern.UserGroup/obj/
src/Project/Habitat/tds/Sitecore.Habitat.Website.Master/bin/
src/Project/Habitat/tds/Sitecore.Habitat.Website.Media/obj/
src/Project/UserGroup/code/netzkern.UserGroup/bin/
src/Project/UserGroup/tds/netzkern.Usergroup.Master/bin/
src/Project/Common/code/bin/
src/Project/Demo/code/bin/
src/Project/Habitat/code/bin/
packages/
src/Project/UserGroup/code/netzkern.UserGroup/Properties/PublishProfiles/LocalCopy.pubxml
src/Project/UserGroup/tds/netzkern.Usergroup.Master/obj/
