@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="container">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="custom-header">
                    <h1 class="text-center" style="color:;">Werden Sie Mitglied der Sitecore Usergroup</h1><p class="lead text-center" style="color:; ">
                        Wir wollen Mehrwerte für Anwender und Nutzer von Sitecore-Produkten schaffen.<br>
                        Unsere Community ermöglicht einen aktiven Austausch zwischen Partnern, Kunden und dem Hersteller.
                    </p>
                </div>
            </div>
        </div>
    </div><div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-users"></i>
                    <h4 style="color:">Gemeinsam</h4>
                    <p>Wir profitieren alle von Synergien – daher besteht die Usergroup aus Entwicklern, Anwendern und Kunden – egal ob Endkunde, Partner oder Hersteller.</p>
                </div><div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-gym"></i>
                    <h4 style="color:">Interessensvertretung</h4>
                    <p>
                        Als große Community können wir Ihre Interessen vorm Hersteller vertreten, um Arbeitsaufwände zu reduzieren und den Kundennutzen zu vergrößern.<br>
                    </p>
                </div>
            </div>
        </div>
    </div><div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-sun"></i>
                    <h4 style="color:">Kunde</h4>
                    <p>Durch Austausch von Wissen und Erfahrungen gewährleisten Sie Ihren Kunden die optimalsten Lösungen.</p>
                </div><div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-refresh-2"></i>
                    <h4 style="color:">Austausch</h4>
                    <p>Ein regelmäßiger Austausch an wechselnden Orten bietet Ihnen ein hervorragendes Netzwerk – deutschlandweit.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div><div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-network"></i>
                    <h4 style="color:">Hersteller</h4>
                    <p>Wir sind unabhängig vom Hersteller und haben gemeinsam eine gewichtige Stimme um Ihre Interessen zu vertreten.</p>
                </div><div class="feature text-center ">
                    <i style="color:" class="pe-4x pe-7s-pin"></i>
                    <h4 style="color:">Events</h4>
                    <p>Sie gestalten die Events nach Ihren Interessen mit – bringen Sie sich mit Fachvorträgen, Problemstellungen oder „best practices“ ein.</p>
                </div>
            </div>
        </div>
    </div>
</div>