@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

    <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_right">

                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    @Html.Sitecore().ImageField(Templates.TeaserContent.Fields.Image.ToString(), Model.Item)
                                }
                                else
                                {
                                <img width="150" height="150"
                                     src="@Model.Item.ImageUrl(Templates.TeaserContent.Fields.Image)" class="vc_single_image-img attachment-thumbnail" alt="download"
                                     @* srcset="http://194.145.122.12/wp-content/uploads/2015/07/download-150x150.png 150w, http://194.145.122.12/wp-content/uploads/2015/07/download-300x300.png 300w, http://194.145.122.12/wp-content/uploads/2015/07/download.png 400w" sizes="(max-width: 150px) 100vw, 150px"*@>
                                }
                            </div>       
                        </figure>
                    </div>
                </div>
            </div>
        </div><div class="wpb_column vc_column_container vc_col-sm-8">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="custom-header"><h3 class="" style="color:;">@Html.Sitecore().Field(Templates.TeaserContent.Fields.Title.ToString(), Model.Item)</h3></div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">

                        </div>
                    </div>
                 
                    <div class="pull-left">
                    @Html.Sitecore().Field(Templates.TeaserContent.Fields.Link.ToString(), Model.Item, new
                       {
                           @class = "button button-small button-line-dark"
                       })
                    </div>
                </div>
            </div>
        </div>
    </div>
