@using Sitecore.Feature.PageContent
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="item">
    <i class="@Model.Item[Templates.Fact.Fields.Ico_Class]"></i>

    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
    <div class="panel panel-info">
        <div class="panel-heading">
            Ico Class
        </div>
        <div class="panel-body">
            @Html.Sitecore().Field(Templates.Fact.Fields.Ico_Class_FieldName)
        </div>
    </div>
    }

    <div class="desc">
        <p class="number">@Html.Sitecore().Field(Templates.Fact.Fields.Number_FieldName)</p>
        <p class="description">@Html.Sitecore().Field(Templates.Fact.Fields.Description_FieldName)</p>
    </div>
</div>
 
    