@using Sitecore.Feature.PageContent
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="item">
    
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Field(Templates.Fact.Fields.Ico_Class_FieldName)
    }
    else
    {
        <i class="@Model.Item[Templates.Fact.Fields.Ico_Class]"></i>
    }

    <div class="desc">
        <p class="number">@Html.Sitecore().Field(Templates.Fact.Fields.Number_FieldName)</p>
        <p class="description">@Html.Sitecore().Field(Templates.Fact.Fields.Description_FieldName)</p>
    </div>
</div>
 
    