@using Sitecore.Feature.PageContent
@model Sitecore.Feature.PageContent.Models.UserGroup.HighlightItem
<section id="highlight" class="vc_row wpb_row vc_row-fluid">
    <div class="left wpb_column vc_column_container vc_col-sm-8">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="custom-header"><h2 class="text-right" style="color:;">@Model.Title</h2></div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: right;">@Model.Text</p> 
                    </div>
                </div>
            </div>
        </div>
    </div><div class="right wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div id="DateCountdown" data-date="@Model.DateCountdownStr" style="width: 100%;"></div>
                <script>
			jQuery(document).ready(function($){
				$("#DateCountdown").TimeCircles({
					"animation": "smooth",
					"use_background": false,
					"bg_width": 0,
					"fg_width": 0,

					"time": {
						"Days": {
							"text": "Tage",
							"color": "#fac42b",
							"show": true
						},
						"Hours": {
							"text": "Stunden",
							"color": "#fac42b",
							"show": true
						},
						"Minutes": {
							"text": "Minuten",
							"color": "#fac42b",
							"show": true
						},
						"Seconds": {
							"text": "Sekunden",
							"color": "#fac42b",
							"show": true
						}
					}
				});
				});
                </script>
            </div>
        </div>
    </div>
</section>