  
  


.owl-theme .owl-controls .owl-page span {
	background:#e42e27;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom-blog .navbar-nav > li > a:hover {
	color:#e42e27;
}

.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom-blog .navbar-nav > li > a:active,
.navbar-custom-blog .navbar-nav > li > a:focus, {
	color:#e42e27;
}

.navbar-custom .icon-bar,
.navbar-custom-blog .icon-bar {
	background:#e42e27;
}




.is-sticky .navbar-custom {
	background:#333333;
}


.sticky-wrapper a,
.is-sticky a {
	color:#ffffff;
}

.sticky-wrapper a:hover,
.is-sticky a:hover {
	color:#e42e27;
}


#highlight .right {
	background:#e42e27;
}


#info i {
	color:#e42e27;
}

.speaker-thumb h4:after {
 	background-color: #e42e27;
}

.speaker-thumb .company {
	font-family:Open Sans;
}

#program {
	background:#e42e27;
}


#download h3:after {
 	background-color: #e42e27;
}


#venue h2:after {
 	background-color: #e42e27;
}


#hotels h3:after {
 	background-color: #e42e27;
}

#venue i {
	color:#e42e27;
}

#hotels h3:after {
 	background-color: #e42e27;
}


.price-table {
	background:#e42e27;
}


#testimonial {
	background:#e42e27;
}

.sponsor {
	border:2px solid #e42e27;
}

#sponsors i {
	color:#e42e27;
}

#footer h4:after {
 	background-color: #e42e27;
}

#preload {
	background:#e42e27;
}



.owl-theme .owl-controls .owl-buttons div {
	color: #e42e27;
}

.owl-theme .owl-controls .owl-page span {
	background:#e42e27;
}





.wrap .overlay:after {
	background: none repeat scroll 0 0 rgba(228,46, 39, 0.7);
}
	

.wrap .overlay:before {
	background: none repeat scroll 0 0 rgba(228,46, 39, 0.7);
}

