@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

            <div id="nav" class="collapse navbar-collapse">
                <ul id="menu-primary" class="nav navbar-nav navbar-right">
                    <li><a href="http://194.145.122.12/#info">ÜBER UNS</a></li>
                    <li><a href="http://194.145.122.12/#program">AGENDA</a></li>
                    <li id="menu-item-884" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-884"><a title="NEWSLETTER" href="#newsletter">NEWSLETTER</a></li>
                </ul>
            </div>