<div id="primary" class="container">
    <div class="row">

        <div class="col-lg-9">


            <div class="page type-page status-publish hentry">
               <div class="entry-content">
                    @Html.Sitecore().Placeholder("page-content")
                    
                </div><!-- .entry-content -->

                <footer class="entry-footer"></footer><!-- .entry-footer -->
            </div><!-- #post-## -->




        </div><!-- #main -->
        <!-- #primary -->


    </div>
</div>